<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-nternal.log">

	<!-- Define database target -->
	<targets>
		<target xsi:type="Database"
				name="database"
				connectionStringName="DefaultConnection"
				commandText="INSERT INTO LogTable (LogLevel, Message, Exception, LogDate) VALUES (@level, @message, @exception, @time_stamp)">
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@time_stamp" layout="${date}" />
		</target>
	</targets>

	<!-- Configure rules to map loggers to targets -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>